/* колір основного тексту #757575 */
/* вторинний колір тексту #212121 */
/* білий #FFFFFF */
/* чорний #000000 */
/* акцент #2196F3 */
/* колір фону #F5F5F5 */
/* вторинний колір фону #EEEEEE */
/* колір фону кнопок #F5F4FA*/
/* колір фону шапки #ECECEC */
/* колір фону підвалу #2F303A */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-text-color: #ffffff;
  --dark-text-color: #000000;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --primary-bg-color: #f5f5f5;
  --secondary-bg-color: #eeeeee;
  --header-bg-color: #ececec;
  --footer-bg-color: #2f303a;
  --btn-bg-color: #f5f4fa;
  --white-bg-color: #ffffff;
}

body {
  background-color: var(--white-bg-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}

/* --Header-----------------*/
.site-header {
  border-bottom: 1px solid #ececec;
  padding: 24px 0;
}
.main-nav {
  display: flex;
  align-items: center;
}

/* --Logo------------------------- */
.logo {
  color: var(--dark-text-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: inherit;
}
.logo-web {
  color: var(--accent-color);
}

/* --Site nav-------------------- */
.site-nav {
  display: flex;
  margin-left: 93px;
}
/*для сусіднього*/
.site-nav .item + .item {
  margin-left: 50px;
}
/*для всіх крім останнього
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}*/
/*для останнього обнуляється
.site-nav .item:last-child {
  margin-right: 0;
}*/

.site-nav .link {
  display: block;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  position: relative;
  color: var(--accent-color);
}
.current::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -33px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

/* --Site contacts------------------- */
.site-contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.site-contacts .item + .item {
  margin-left: 30px;
}
.site-contacts .link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-contacts .link:hover,
.site-contacts .link:focus {
  color: var(--accent-color);
}
.icon-envelope,
.icon-smartphone {
  display: block;
  box-sizing: content-box;
  padding-right: 10px;
  fill: currentColor;
}

/* --Hero------------------------------ */
.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(47, 48, 58, 0.4);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--white-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* --Button-------------------------- */
.button {
  color: var(--title-text-color);
  background-color: var(--btn-bg-color: #f5f4fa);
  border-color: transparent;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary {
  color: var(--white-text-color);
  background-color: var(--accent-color);
  border-color: transparent;
}
.button:hover,
.button:focus {
  color: var(--white-text-color);
  background-color: var(--accent-color);
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.button {
  cursor: pointer;
}
.hero > .button {
  padding: 10px 32px;
}

/* --Features-------------------------- */
.section-features .container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-features .list {
  display: flex;
  margin-top: 0;
}
.section-features .item {
  width: calc((100%-90px) / 4);
}
/* .section-features .item::before {
  display: block;
  content: "";
  height: 120px;
  background-color: var(--btn-bg-color);  
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-antenna::before {
  background-image: url(../images/icon-antenna.svg);
}
.icon-clock::before {
  background-image: url(../images/icon-clock.svg);
}
.icon-diagram::before {
  background-image: url(../images/icon-diagram.svg);
}
.icon-astronaut::before {
  background-image: url(../images/icon-astronaut.svg);
} */
.icons-features {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  background-color: var(--btn-bg-color);
}

.section-features-title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features-text {
  margin-top: 0;
  margin-bottom: 0;
}
.section-features .item + .item {
  margin-left: 30px;
}
/* --Work----------------------------- */
.section-work {
  display: flex;
}
.section-work-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.section-work .list {
  padding-bottom: 94px;
}
.section-work .item + .item {
  margin-left: 30px;
}
.thumb {
  position: relative;
  overflow: hidden;
}
.thumb > .label {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  margin: 0;
  text-align: center;
  padding-top: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.143;
}

/* --Team------------------------------- */
.section-team {
  display: flex;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--btn-bg-color);
}
.section-team .list {
  padding-top: 0;
  padding-bottom: 0;
}
.section-team-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.section-team .item {
  background-color: var(--white-bg-color);
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.section-team .item + .item {
  margin-left: 30px;
}
.team-img {
  margin-bottom: 30px;
}

.section-team-name {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.section-text {
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 30px;
}

.social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.social-item:last-child {
  margin-right: 0;
}
.section-team .social-link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffffff;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-team .social-icon {
  fill: currentColor;
}
.section-team .social-link:hover,
.section-team .social-link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
/* --Clients-------------------------- */
.section-clients {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.clients-list {
  display: flex;
}

.section-clients .item + .item {
  margin-left: 30px;
}
.section-clients .clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-clients .client-icon {
  fill: currentColor;
}
.section-clients .clients-link:hover,
.section-clients .clients-link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

/* --Portfolio------------------------*/
/* Прихований заголовок */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-portfolio {
  margin-top: 94px;
  margin-bottom: 94px;
}
/* --Filter------------------ */
.section-filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.filter-btn + .filter-btn {
  margin-left: 8px;
}
/* --Project---------------------- */
.section-prodject {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.section-prodject .item {
  width: calc((100% - 60px) / 3);
  border: 1px solid #eeeeee;
  margin-right: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-prodject .item:nth-child(3n) {
  margin-right: 0;
}
.section-prodject .item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.section-prodject .item:hover,
.section-prodject .item:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 1;
}

.prodject-thumb {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}
/* .prodject-thumb::after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  opacity: 0;
} */
.section-prodject .item:hover .overlay {
  transform: translatex(0);
}
.overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  /* margin-bottom: -20px; */
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay > p {
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.556;
  color: var(--white-text-color);
}
.prodject-img {
  margin-bottom: 20px;
}
.section-prodject-title {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 4px;
  margin-left: 24px;
  padding-top: 20px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.section-prodject-text {
  margin: 0 auto 20px 24px;
  color: var(--primary-text-color);
}

/* --Footer--------------------------- */
.footer {
  display: flex;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--footer-bg-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.page-footer {
  display: flex;
  align-items: baseline;
}
.info-footer {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-right: 70px;
}
.footer .logo {
  color: var(--white-text-color);
}
.address {
  margin-top: 20px;
}
.address-address {
  color: var(--white-text-color);
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-address:hover,
.address-address:focus {
  color: var(--accent-color);
}
.address-mail,
.address-tel {
  margin-top: 9px;
  color: var(--footer-text-color);
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-mail:hover,
.address-mail:focus {
  color: var(--accent-color);
}
.address-tel:hover,
.address-tel:focus {
  color: var(--accent-color);
}
.social-footer {
  display: block;

  margin-right: 0;

  margin-left: 0;
}
.title-footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.16;
  text-transform: uppercase;
  text-align: left;
  margin-top: 63px;
  margin-bottom: 20px;
  color: #ffffff;
}
.social-footer .social-link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer .social-icon {
  fill: currentColor;
}
.social-footer .social-link:hover,
.social-footer .social-link:focus {
  background-color: var(--accent-color);
}

.form-footer {
  display: flex;
  flex-direction: column;
  margin-left: 93px;
  margin-right: auto;
}
.buttons input {
  outline: none;
  width: 358px;
  height: 50px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons [placeholder] {
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.buttons input:hover,
.buttons input:focus,
.buttons input:active {
  border: 1px solid var(--accent-color);
  background-color: var(--footer-bg-color);
  color: var(--white-text-color);
}
.button-footer {
  width: 200px;
  height: 50px;
  margin-left: 12px;
  align-items: center;
  justify-content: center;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* background-color: var(--accent-color);
  color: var(--white-text-color);
   */
}
.button-footer svg {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: var(--white-text-color);
}
.button-footer:hover,
.button-footer:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* --Modal--------------------------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  height: 620px;
  width: 528px;
  border-radius: 4px;
  background-color: #fff;

  transform: translate(-50%, -50%) scale(1);

  transition: transform 250mc cubic-bezier(0.4, 0, 0.2, 1);
}
.close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: rgba(0, 0, 0, 1);
  background: transparent;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-chadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:hover,
.close-modal:focus {
  fill: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.close-modal {
  cursor: pointer;
}
.form {
  display: block;
  padding-top: 40px;
  padding-right: 39px;
  padding-bottom: 40px;
  padding-left: 41px;
  margin-left: auto;
  margin-right: auto;
}
.title-form {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.172;
  color: var(--title-text-color);
}
.form-label {
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: var(--primary-text-color);
}
.form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.17;
  color: var(--accent-color);
}
.form-input,
.form-comment::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  color: rgba(117, 117, 117, 0.5);
}
.form-comment {
  width: 100%;
  height: 120px;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
}
.form-wrapper {
  position: relative;
  margin-bottom: 10px;
}
.form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--primary-text-color);
}

.form-input:focus + .form-icon,
.form-input:hover + .form-icon {
  fill: var(--accent-color);
}
.form-wrapper input {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-wrapper input:hover,
.form-wrapper input:focus,
.form-wrapper input:active {
  outline-style: none;
  border: 1px solid var(--accent-color);
}
.form-textarea textarea {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea textarea:hover,
.form-textarea textarea:focus,
.form-textarea textarea:active {
  outline-style: none;
  border: 1px solid var(--accent-color);
}

.form-checkbox {
  margin-bottom: 30px;
}
.checkbox-agree {
  display: flex;
  align-items: center;
  line-height: 1.46;
}
.checkbox-agree .icon-wrapper {
  display: flex;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
}
.checkbox-agree .agree-icon {
  fill: transparent;
}
.form-checkbox input:checked + .checkbox-agree .icon-wrapper {
  background-color: var(--accent-color);
  border: none;
}
.form-checkbox input:checked + .checkbox-agree .agree-icon {
  fill: var(--white-text-color);
}
/* .checkbox-agree::before {
  content: " ";
  display: flex;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
} 
.form-checkbox input:checked + .checkbox-agree::before {
  background-color: var(--accent-color);
  border: none;
  background-image: url(../images/check-mark.svg);
  background-repeat: no-repeat;
  background-position: center;
} */
.checkbox-agree a {
  color: var(--accent-color);
  text-decoration: underline;
}
.button-check {
  width: 200px;
  height: 50px;
  margin-bottom: 40px;
  margin-left: 124px;
}
